<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">DateDrop</a>
      <ul class="nav">
        <li<% if params[:action] == "home" %> class="active"<% end %>><a href="/">Datepicker</a></li>
        <li<% if params[:action] == "dropdown" %> class="active"<% end %>><a href="/dropdown">Dropdown</a></li>
      </ul>
    </div>
  </div>
</div>
